/*css document*/
body{
    margin-left: 15%;
    margin-right: 15%;
    padding: 0px;
    font-family: Times New Roman;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}
header{
    background: #262626;
    opacity: 0.9;
    border: solid;
    color: #cc3300;
}
img:hover{
    opacity: 0.6;
}
.logo{
    Height: 150px;
    width: 150px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
    margin-right: 15px;
}
ul{
    list-style: none;
    padding: 10px;
    font-size: 28px;
    display: flex;
    margin: 60px;
}
li:hover{
    opacity: 0.7;
}
li{
    margin-right: 50px;
    margin-left: 190px;
    border: solid;
    padding: 5px;
}
a{
    color: #ff9933;
    text-decoration: none;
}
#mainjpg1{
    height: 350px;
    width: 650px;
    float: left;
    margin-right: 30px;
    border: solid;
    color: #cc3300;
}
#mainjpg2{
    height: 350px;
    width: 650px;
    float: right;
    margin-right: 30px;
    border: solid;
    color: #cc3300;
}
h1{
    font-size: 40px;
    color: darkorange;
}
h2{
    font-size: 40px;
    color: darkorange;
}
p{
    font-size: 23px;
    color: white;
    text-indent: 50px;
    background: #000000;
    opacity: 0.9;
}
#txt1{
    margin-left: 670px;
    margin-bottom: 300px;
}
#txt2{
    margin-right: 699px;
    margin-bottom: 300px;
} 
footer{
    text-align: center;
    color: white;
}
h3{
    color:white;
    font-size: 30px;
    background: #000000;
    opacity: 0.9;
}
.paprsek{
    float: left;
    height: 250px;
    width: 400px;
    margin-left: 19px;
    margin-right: 19px;
    border: solid;
    color: #cc3300;
}
#mapa{
    width: 400px;
    height: 280px;
    border: solid;
    color: #cc3300;
    border-width: 4px;
}
h4{
    font-size: 20px;
    color: white;
    text-align: center;
}
.nadpis{
    text-align: center;
}
#contactform123{
    height: 900px;
    width:100%;
    overflow: auto;
    border: none;
}